<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="posts">Posts</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="new">Nouveau post</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><button type="button" class="btn btn-xs btn-default" (click)="onResetBdd()" style="margin-top: 14px;">Remise à 0 Firebase</button></li>
    </ul>
  </div>
</nav>
