<h2>Enregistrer un nouveau post</h2>
<form [formGroup]="postForm" (ngSubmit)="onSavePost()">
  <div class="form-group">
    <label for="titre">Titre</label>
    <input type="text" id="titre"
            class="form-control" formControlName="titre">
  </div>
  <div class="form-group">
    <label for="contenu">Message</label>
    <textarea id="contenu"
              class="form-control"
              formControlName="contenu"
              rows="10">
    </textarea>
  </div>
  <button class="btn btn-success" [disabled]="postForm.invalid"
          type="submit">Enregistrer
  </button>
  <button class="btn btn-default" type="button" style="margin-left: 10px;" (click)="onCancel()">Annuler</button>

</form>
