<app-header></app-header>
<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-xs-112 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
