<h3>Posts
  <div class="btn-group pull-right">
      <button [ngClass]="{'btn': true,
                          'btn-xs': true,
                          'btn-default': true,
                          'active': !isReverse}"
              (click)="onSortAsc()"><i class="glyphicon glyphicon-sort-by-order" aria-hidden="true"></i></button>
      <button [ngClass]="{'btn': true,
                          'btn-xs': true,
                          'btn-default': true,
                          'active': isReverse}"
              (click)="onSortDesc()"><i class="glyphicon glyphicon-sort-by-order-alt" aria-hidden="true"></i></button>
  </div>

</h3>
<ul class = "list-group">
  <app-post-list-item *ngFor="let post of posts"
                      [post] = "post"></app-post-list-item>
</ul>
