
<li [ngClass] = "{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
<h4 class="list-group-item-heading">
  <strong>{{ post.titre }}</strong>
  <small class="text-muted pull-right">
    <i>{{ post.date | date: 'MM/dd/y, hh:mm a' }}</i>
  </small>
</h4>
<p class="list-group-item-text"
    style="margin-bottom: 20px;">{{ post.contenu }}</p>
<button class="btn btn-xs btn-success"
      style="margin-right: 10px;"
      (click)="onCounterUp()">Love it !</button>
<button class="btn btn-xs btn-danger"
      (click)="onCounterDown()">Don't love it !</button>
<button class="btn btn-xs btn-danger pull-right"
      (click)="onDeletePost(post)">Supprimer post</button>
</li>
